:root{
    --base: #d82424;
    --spacing: 200px;
    --blur: 2px;
}
img{
    background: var(--base);
    filter: blur(var(--blur));
}
h1 span{
    color: var(--base);
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base);
}
img{
    width: var(--spacing);
    height: fit-content;
}