body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#8771c7, #2f3668);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 20rem;
    height: 20rem;
    border-radius: 20rem;
    border: #9196ba 1rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hand{
    width: 50%;
    height: 6px;
    background-color: #9196ba;
    position: absolute;
    transform-origin: 0%;
    transform: rotate(270deg);
    border-radius: 2rem;
    /* transition: all 1s; */
    transition-timing-function: ease-out;
}